# Ignore virtual environment
venv/
__pycache__/

# Ignore model files
*.h5
*.pkl

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (macOS)
.DS_Store

# Ignore temporary files and logs
*.log
*.tmp
*.csv~
*.out

# Ignore VS Code settings (optional)
.vscode/

# Ignore results if you don't want to version control them
results/*.png
results/*.csv

# Ignore Zeek log files (optional)
*.log
